@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300&family=Prompt:wght@400;500&display=swap');

* {
    font-family: "Poppins";
    color: white;
}

label {
    color: black !important;
}

h1 {
    font-family: "Open Sans";
}

body {
    background-image: linear-gradient(to right, black, #380256, #6c0078, #399fa0);
}

option {
    color: black;
}

nav {
    color: white !important;
    background-color: #380256;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #56ECEE !important;
    transition: 0.5s;
}

.josisney {
    color: white !important;
}

.josisney:hover {
    color: #56ECEE !important;
    transition: 0.5s;
}

.logo-header {
    height: 30px !important;
}

.botao {
    color: #56ECEE;
    background-color: #94009c;
    border: none;
}

.botao:hover {
    background-color: #399fa0 !important;
    color: white !important;
}

.album {
    background-color: #94009c;
}

.album:hover {
    transition: 0.9s;
    background-color: #399fa0;
}

footer {
    background-color: #380256;
}







section {
    padding: 60px 0;
    overflow: hidden;
}

.section-header {
    text-align: center;
    padding-bottom: 60px;
}

.section-header h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.section-header h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--color-primary);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.section-header p {
    margin-bottom: 0;
    color: white;
}

.services {
    padding: 60px 0;
}

.services .service-item {
    padding: 40px;
    background: #00b6a1;
    height: 100%;
    border-radius: 10px;
}

.services .service-item .icon {
    width: 48px;
    height: 48px;
    position: relative;
    margin-bottom: 50px;
}

.services .service-item .icon i {
    color: var(--color-default);
    font-size: 56px;
    transition: ease-in-out 0.3s;
    z-index: 2;
    position: relative;
}

.services .service-item h3 {
    color: var(--color-default);
    font-weight: 700;
    margin: 0 0 20px 0;
    padding-bottom: 8px;
    font-size: 22px;
    position: relative;
    display: inline-block;
    border-bottom: 4px solid #eeeeee;
    transition: 0.3s;
}

.services .service-item p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.services .service-item .readmore {
    margin-top: 15px;
    display: inline-block;
    color: var(--color-primary);
}










.hero {
    width: 100%;
    position: relative;
    padding: 60px 0 0 0;
}

@media (min-width: 1365px) {
    .hero {
        background-attachment: fixed;
    }
}

.hero h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
}

.hero p {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    margin-bottom: 30px;
}

.hero .btn-get-started {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 40px;
    border-radius: 50px;
    transition: 0.3s;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.hero .btn-get-started:hover {
    border-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 640px) {
    .hero h2 {
        font-size: 36px;
    }

    .hero .btn-get-started {
        font-size: 14px;
    }
}

.hero .icon-boxes {
    padding-bottom: 60px;
}

@media (min-width: 1200px) {
    .hero .icon-boxes:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: calc(50% + 20px);
    }
}

.hero .icon-box {
    padding: 60px 30px;
    position: relative;
    overflow: hidden;
    background-color: #399fa0;
    box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    height: 100%;
    width: 100%;
    text-align: center;
}

.hero .icon-box .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
}

.hero .icon-box .title a {
    color: #fff;
    transition: 0.3s;
}

.hero .icon-box .icon {
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 48px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.6);
}

.hero .icon-box:hover {
    background: #399fa0
}

.hero .icon-box:hover .title a,
.hero .icon-box:hover .icon {
    color: white;
}

.pricing .pricing-item {
    padding: 60px 40px;
    box-shadow: 0 3px 20px -2px rgba(108, 117, 125, 0.15);
    background: #56ECEE;
    height: 100%;
    position: relative;
    border-radius: 15px;
}

.pricing .pricing-item1 {
    padding: 60px 40px;
    box-shadow: 0 3px 20px -2px rgba(108, 117, 125, 0.15);
    background: #399fa0;
    height: 100%;
    position: relative;
    border-radius: 15px;
}

.pricing h3 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;
    color: white;
    text-align: center;
}

.pricing .icon {
    margin: 30px auto 30px auto;
    width: 70px;
    height: 70px;
    background: var(--color-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    transform-style: preserve-3d;
}

.pricing .icon i {
    color: white;
    font-size: 28px;
    transition: ease-in-out 0.3s;
    line-height: 0;
}

.pricing .icon::before {
    position: absolute;
    content: "";
    height: 86px;
    width: 86px;
    border-radius: 50%;
    background: #87c1bb;
    transition: all 0.3s ease-out 0s;
    transform: translateZ(-1px);
}

.pricing .icon::after {
    position: absolute;
    content: "";
    height: 102px;
    width: 102px;
    border-radius: 50%;
    background: #399fa0;
    transition: all 0.3s ease-out 0s;
    transform: translateZ(-2px);
}

.pricing h4 {
    font-size: 48px;
    color: white;
    font-weight: 700;
    font-family: var(--font-secondary);
    margin-bottom: 0;
    text-align: center;
}

.pricing h4 sup {
    font-size: 28px;
}

.pricing h4 span {
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.pricing ul {
    padding: 20px 0;
    list-style: none;
    color: red;
    text-align: left;
    line-height: 20px;
}

.pricing ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.pricing ul i {
    color: #00753f;
    font-size: 24px;
    padding-right: 3px;
}

.pricing ul .na {
    color: #380256;
}

.pricing ul .na i {
    color: red;
}

.pricing ul .na span {
    text-decoration: line-through;
}

.pricing .buy-btn {
    display: inline-block;
    padding: 10px 40px;
    border-radius: 50px;
    background-color: #009786;
    color: white;
    border: 1px solid rgba(0, 131, 116, 0.2);
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
    text-decoration: none;
}

.pricing .buy-btn:hover {
    background: #6c0078;
    color: #fff;
    transition: 0.5s;
}

.pricing .featured {
    z-index: 10;
    border: 3px solid #94009c;
}

@media (min-width: 992px) {
    .pricing .featured {
        transform: scale(1.15);
    }
}

.footer {
    font-size: 14px;
    background-color: #380256;
    padding: 50px 0;
    color: white;
}

.footer .footer-info .logo {
    line-height: 0;
    margin-bottom: 25px;
}

.footer .footer-info .logo img {
    max-height: 40px;
    margin-right: 6px;
}

.footer .footer-info .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    font-family: var(--font-primary);
}

.footer .footer-info p {
    font-size: 14px;
    font-family: var(--font-primary);
}

.footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
    transition: 0.3s;
}

.footer .social-links a:hover {
    color: #fff;
    border-color: #fff;
}

.footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}

.footer .footer-links {
    margin-bottom: 30px;
}

.footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-links ul i {
    padding-right: 2px;
    color: rgba(0, 131, 116, 0.8);
    font-size: 12px;
    line-height: 0;
}

.footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-links ul a {
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

.footer .footer-links ul a:hover {
    color: #fff;
}

.footer .footer-contact p {
    line-height: 26px;
}

.footer .copyright {
    text-align: center;
}

.footer .credits {
    padding-top: 4px;
    text-align: center;
    font-size: 13px;
}

.footer .credits a {
    color: #fff;
}