@model Album

<h2>Deletando Album</i></h2>
<h3>Tem Certeza que deseja deletar @Model.Nome?
</h3>
<hr>

<form method="POST" asp-action="ProcessDelete">
    <a asp-action="Index" asp-controller="Album" class="btn btn-success">Não</a>
    <input type="hidden" asp-for="@Model.IdAlbum">
    <button type="submit" class="btn btn-danger">Sim</button>
</form>